* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  max-height: 100vh;
  max-width: 100vw;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

.header-button {
  border: none;
  background-color: #c3c3c3;
  color: #000;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.shelf-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  max-height: 90vh;
  justify-content: center;
  border-radius: 3px;
}

.shelf {
  width: 33%;
  min-height: 30vh;

  border: 1px solid #000;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.book-item {
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  border-radius: 3px;
  margin: 0 10px;
}

.book-img {
  height: 50px;
  width: 100px;
}

.book-title {
  font-size: 13px;
  font-weight: bold;
  padding: 0 5px;
}

.book-author {
  font-size: 12px;
  padding: 0 5px;
  color: #707070;
}

.popup-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  display: none;
}

.popup-content {
  background-color: #fff;
  height: 400px;
  width: 400px;
  border-radius: 15px;
  position: relative;

  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

select {
  min-width: 170px;
}

.form-control {
  margin-bottom: 20px;
}

.form-control-label {
  min-width: 100px;
  display: inline-block;
}

.popup-button {
  border: none;
  background-color: #c3c3c3;
  color: #000;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
}
